@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

#__next {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: black;
  padding: 2rem;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 50px;
}

html::-webkit-scrollbar-track {
  background: #140e16;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
